@font-face{
	font-family: quickBold;
	src: url("fonts/Quicksand-Bold.ttf");
}

@font-face{
	font-family: quickRegular;
	src: url("fonts/Quicksand-Light.ttf");
}

@font-face{
	font-family: quickMedium;
	src: url("fonts/Quicksand-Medium.ttf");
}

@font-face{
	font-family: sueEllen;
	src: url("fonts/SueEllenFrancisco.ttf");
}

@font-face{
	font-family: caveatRegular;
	src: url("fonts/CaveatBrush-Regular.ttf");
}

@font-face{
	font-family: patrickRegular;
	src: url("fonts/PatrickHand-Regular.ttf");
}



body{
	background-image: url(../img/bg.jpg);
	height: 100%;
}

.logo_header{
	font-family: quickBold;
	text-align: center;
	padding-top: 10%;
	padding-right: 50%;
	color: white;
	font-size: 100px;
	height: 600px;
	background-size: cover;
  	background-attachment: fixed;
  	margin: auto;
  	background-image: url(../img/3.jpg);
  	background-size: 100%;
  	background-repeat: no-repeat;
  	z-index: -1;

}

.logo_title{
	margin-top: -100px;
	
	height: 100%;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.menu_bar{
	background-color: #ce5f5f;
	height: 65px;
	width: 100%;
	display: flex;
	margin-bottom: 45px;
}

.menu_bar-link.selected{
	background-color: black;
}

.menu_bar-link{
	font-family: quickMedium;
	flex-grow: 1;
	color: white;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 5px;
	font-size: 40px;
	text-align: center;
	text-decoration: none;
	background-color: #ce5f5f;	
}
.menu_bar-link:hover{
	background-color: #aa4d4d;
	color: white;
	text-decoration: none;
}

.menu_bar-link:focus{
	background-color: #aa4d4d;
	color: white;
	text-decoration: none;
}


.search{
	width: 50px;
	border: none;
	background-image: url(../img/searchicon.png);
	background-size: 40px;
    background-position: -5px 10px; 
    background-repeat: no-repeat;
    padding: 0px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-size: 30px;
}

.search:focus {
    width: 300px;
    background-color: #aa4d4d;
}
.search::placeholder{
	color: lightgray;
	opacity: 0.5;
	font-size: 30px;


}
.menu_bar-link:hover{
	background-color: #aa4d4d;
}

.access_menu{
	background-color: white;
	height: 50px;
	width: 100%;
	display: flex;
	
	justify-content: flex-end;
	

}
.access_menu-link{
	font-family: quickMedium;
	color: #ce5f5f;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 5px;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	
	
}
.access_menu-link:hover{
	color: #aa4d4d;
	text-decoration: none;
}


.main_div{
	padding-botton: 40px;
	width: 1000px;
	margin: auto;
	background-color: #f0efe7;
	border-radius:6px;
	box-shadow: 10px 10px 10px 0px #c6c5be;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 350px;
}

.main_div-table{
	background-color: #f1ed8c;
    color: white;
    width: 1000px;
    height: 40px;
    font-size: 35px;
    text-align: center;
    font-family: quickMedium; 
    box-shadow: 0px 10px 0px #d8d47c;
    border-radius:6px;
}
.main_div-table-header{
	background-color: #ce5f5f;
    color: white;
    width: 1000px;
    height: 55px;
    font-size: 35px;
    text-align: center;
    padding: 5px 0 15px 0;
    font-family: quickMedium; 
    box-shadow: 0px 10px 0px #aa4d4d;
    border-radius:6px;
    bottom: 50px;
	
}


.main_div-form{
	margin-top: 10px;
	display: flex;
	background-color: #f0efe7;
	flex-direction: column;
	align-items: center;
}

.main_div-form-labels{
	font-family: quickRegular;
	font-size: 25px;
	color: gray;
	
	margin-top: 50px;
}

.main_div-form-inputs{
	background-color: #f0efe7;
	border-bottom-color: gray;
	border-top: none;
	border-right: none;
	border-left:  none;
	color: gray;
	height: 30px;
	width: 255px;
	font-size: 23px;
	padding-bottom: 0px;
	text-decoration: none;
	margin-top: 5px;
	text-align: center;
}

.main_div-form-btns{
	margin-top:10px;
}

.main_div-message{
	
	width: 100%;
	margin-top: 60px;
	text-align:center;
	color: #55aaff;
	font-family: quickBold;
	font-size: 28px;
	
}

.main_div-btn{
	margin-top: 40px;
	width: 400px;
    color: white;
    height: 60px;
    font-size: 35px;
    text-align: center;
    font-family: quickMedium; 
    border-radius:6px;
}

.login-btn{
	color: white;
	background-color: #f1ed8c;
    box-shadow: 0px 10px 0px #d8d47c;
    text-decoration: none;
}

.login-btn a, .login-btn a:hover{
	text-decoration: none;
	color: white;
}
.login-btn:hover {
	color: white;
	background-color: #d8d47c;
	text-decoration: none;
}

.footer{
	background-color: white;
	margin-top: 300px;
	clear: both;
    position: relative;
    z-index: 10;
    height: 300px;
    margin-bottom: -10px;
     border-radius: 100% 50%;
     display: flex;
     flex-direction:row;
}

.form-btns p{
	padding-top: 40px;
	color: #aaa;
	font-size: 20px;
	text-align: center;
	margin: auto;
	width: 400px;
}


.form-btns--a, .form-btns--a a{
	width: 250px;
	height: 100px;
	margin: auto;
	text-align: center;
	color: #55aaff;
	font-family: quickBold;
	font-size: 20px;
	text-decoration: none;
}
.footer-img{
	display: block;
	padding-left: 180px;
	padding-top: 100px;
	height: 200px;
	width:290px;
}
.footer-paragraph{
	padding-left: 145px;
	position: absolute;
	font-size: 16px;
	padding-top: 215px;
	font-family: quickRegular;
}
.footer-div{
	position: relative;
	margin-left: 100px;
	padding-left: 50px;
	margin-top: 80px;
	display: flex;
	height: 180px;
	border-left:   solid #92afef;
	
}


.footer-table-about-header, .footer-table-social-header{
	font-family: quickBold;
	color: gray;
	font-size: 30px;
	padding-bottom: 10px;
	margin-top: -8px;
	padding-right: 30px;
	text-align: left;
}

.social-links{
	text-decoration: none;
	margin-right: 10px;
}


.footers-titles-links{
	font-family: quickRegular;
	color: #cbc876;
	text-decoration: none;

}
