/* FONTS */

@CHARSET "ISO-8859-1";
@font-face{
	font-family: quickBold;
	src: url("fonts/Quicksand-Bold.ttf");
}

@font-face{
	font-family: quickRegular;
	src: url("fonts/Quicksand-Light.ttf");
}

@font-face{
	font-family: quickMedium;
	src: url("fonts/Quicksand-Medium.ttf");
}

@font-face{
	font-family: sueEllen;
	src: url("fonts/SueEllenFrancisco.ttf");
}

@font-face{
	font-family: caveatRegular;
	src: url("fonts/CaveatBrush-Regular.ttf");
}

@font-face{
	font-family: patrickRegular;
	src: url("fonts/PatrickHand-Regular.ttf");
}

/* BODY */

body {
	height: 100%;
	margin: 0;
	background: url(../img/bg.jpg);
	display: compact;
}

/* HEADER */

.logo_header{
	height: 300px;
	font-family: quickBold;
	text-align: center;
	padding-top: 10%;
	padding-right: 50%;
	color: white;
	font-size: 100px;
	background-size: cover;
  	background-attachment: fixed;
  	margin: auto;
  	background-image: url(../img/3.jpg);
  	background-size: 100%;
  	background-repeat: no-repeat;
  	z-index: -1;
}

.logo_title{
	margin-top: -100px;
	height: 100%;
	background-size: 100%;
}

.logo_title:focus, .logo_title:hover, logo_title:selected{
	text-decoration: none;
	border: none;
}

.active {
	background-color: #aa4d4d;
	color: white;
}

.menu_bar{
	background-color: #ce5f5f;
	height: 65px;
	width: 100%;
	display: flex;

}

.result{
	margin-top:50px;
	margin-left:20px;
	font-family: quickBold;
	color: gray;
	font-size: 50px;
}

.menu_bar-link ~ .menu_bar-link{
	background-color: #ce5f5f;
	color: white;
	text-decoration:none;
}

.menu_bar-link{
	font-family: quickMedium;
	flex-grow: 1;
	color: white;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 5px;
	font-size: 40px;
	text-align: center;
	text-decoration: none;
	background-color: #aa4d4d;
	text-decoration: none;
}

.menu_bar-link:hover{
	background-color: #aa4d4d;
	color: white;
	text-decoration: none;
}

.menu_bar-link:focus{
	color: white;
	text-decoration:none;
}

.menu_bar-link:visited{
	color: white;
	text-decoration:none;
}

.search{
	width: 200px;
	border: none;
	background-image: url(../img/searchicon.png);
	background-size: 40px;
    background-position: -5px 10px; 
    background-repeat: no-repeat;
    padding: 0px 20px 12px 40px;
    background-color: #ce5f5f;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-size: 30px;
}

.search:focus {
    width: 300px;  
}

.search::placeholder{
	color: lightgray;
	opacity: 0.5;
	font-size: 30px;
}

.search:hover{
	background-color: #ce5f5f;
}

.access_menu{
	background-color: white;
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.access_menu-link{
	font-family: quickMedium;
	color: #ce5f5f;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 5px;
	font-size: 30px;
	text-align: center;
	text-decoration: none;	
}

.access_menu-link:hover{
	color: #aa4d4d;
	text-decoration: none;
}

/* PROFILES SECTION */

.profile--section{
	margin-top: 100px;
	font-family: quickMedium;
	height: 300px;
	width: 400px;
	margin-left: 30%;
	background-color: #f0efe7;
	border-radius:6px;
	padding: 20px 100px;
	box-shadow: 10px 10px 10px 0px #c6c5be;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 350px;
	position: relative;
}

.profile--section td:first-child{
	width: 100px;
}

.profilePic{
	height: 100px;
	display: block;
	float: left;
}

.profileInformation{
	float: right;
	display: block;
}

.profile--btn{
	
	background-color: #55aaff;
    color: white;
    margin: auto;
    
    margin-top: 200px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    font-family: quickMedium; 
    box-shadow: 0px 6px 0px #518ae8;
    
    border: solid 1px #518ae8;
    border-radius:6px;
    
    display: block;
}


/* FOOTER */

.footer{
	background-color: white;
	margin-top: 300px;
	clear: both;
    position: relative;
    z-index: 10;
    height: 300px;
    margin-bottom: -10px;
    border-radius: 100% 50%;
    display: flex;
    flex-direction:row;
}

.footer-img{
	display: block;
	padding-left: 180px;
	padding-top: 100px;
	height: 200px;
	width:290px;	
}

.footer-paragraph{
	padding-left: 145px;
	position: absolute;
	font-size: 16px;
	padding-top: 215px;
	font-family: quickRegular;
}

.footer-div{
	position: relative;
	margin-left: 100px;
	padding-left: 50px;
	margin-top: 80px;
	display: flex;
	height: 180px;
	border-left: solid #92afef;
}

.footer-table-about-header, .footer-table-social-header{
	font-family: quickBold;
	color: gray;
	font-size: 30px;
	padding-bottom: 10px;
	margin-top: -8px;
	padding-right: 30px;
	text-align: left;
}

/* FOOTER LINKS */

.social-links{
	text-decoration: none;
	margin-right: 10px;
}

.footers-titles-links{
	font-family: quickRegular;
	color: #cbc876;
	text-decoration: none;

}